:root{
    --red: rgb(144,0,40);
    --dark-red: rgb(111, 0, 32);
    --dark-grey: rgb(51,51,51);
    --light-grey: #e7ebe6;
    --gold: rgb(226, 204, 141);
}

body{
    
}

.page{
    padding: 15px 5% 10px 5%;
    min-height: 50vh;   /* to keep footer at bottom of page */
}

a{
    color: var(--red);
    text-decoration: none;
}

h1{
    background-color: var(--light-grey);
    padding: 15px 5% 15px 5%;
    margin: 0;
    text-align: center;
}

a:hover{
    color: var(--gold);
}

hr{
    border: 0.75px solid var(--light-grey);
}

/* Navigation */

    nav{
        background-color:var(--red);
        color: white;
        padding: 10px 10px 10px 10px;
        text-align: center;
    }

    nav h2{
        padding: 10px;
    }

    nav a{
        color: white;
        text-decoration: none;
        padding: 7px 5% 10px 5%;   
    }

    nav a:hover{
        background-color: var(--dark-red);
        color: var(--gold);
        border-bottom: 2px solid var(--gold);
    }

    nav .highlighted{  /* current page */
        color: var(--gold);
        border-bottom: 2px solid var(--gold);
    }

/* Footer */

    footer{
        background-color: var(--dark-grey);
        color: white;
        font-size: 14px;
        margin-top: 20px;
        padding: 10px;
        text-align: center;
    }

/* Home */
    .button{
        background-color: var(--red);
        border-bottom: 2px solid var(--dark-red);
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    .button:hover{
        background-color: var(--dark-red);
        color: var(--gold);
        border-bottom: 2px solid var(--gold);
    }

/* About */
    #bio{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 15px;
        gap: 30px;
    }

    #bio .left{
        min-width: 150px;
    }

    #bio img{
        border: 4px solid var(--light-grey);
        width: 100%;
        min-width: 150px;
        max-width: 200px;
    }

    #achievements{
        
    }

    #skills{

    }

/* Projects */

    #project1 img{
        width: 45%;
    }

    #project1 figcaption{
        background-color: var(--light-grey);  /* last value is opacity */
    }

    #project1 figure{

    }

    #documentary{       
        display: block;
        margin: auto;    /* center */
    }

/* Contact */

    #contact{

    }

    .contact-link{
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 10px;
        text-decoration: none;
        width: 150px;
    }

    .icon{
        display: inline-block;
        max-height: 35px;
        max-width: 30px;
    }