@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

:root{
    --red: rgb(244, 111,96);
    --light-grey: rgb(215, 217, 214);
    --black: rgb(51, 51, 51);
    --white: rgb(255, 255, 255);
}

body{
    color: var(--black);
    font-family: 'Lato', sans-serif;
}

h1{
    background-color: var(--light-grey);
    padding: 20px 0 20px 0;
    margin: 0;
    text-align: center;
}


a{
    color: var(--red);
    text-decoration: none;
}

a:hover{
    color: var(--light-grey);
}

hr{
    border: 0.75px solid var(--light-grey);
}

.page{
    padding: 25px 15% 25px 15%;
    min-height: 50vh;   
}

/* Navigation */

    nav{
        background-color:var(--red);
        color: white;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        padding: 0 15% 0 15%;
    }

    #nav-left{
        width: 50%;
    }

    #nav-right{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        width: 50%;

    }

    nav a{
        color: var(--light-grey);
        padding: 25px 25px 25px 25px;
        text-decoration: none; 
    }

    nav a:hover{
        background-color: var(--black);
        color: var(--white);
    }

    nav .highlighted{  /* current page */
        color: var(--white);
    }

/* Footer */

    footer{
        background-color: var(--black);
        color: white;
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }

/* Home */
    #home{
        display: flex;
        flex-flow: column wrap;
        gap: 5%;
        height: 70vh;
        padding: 5% 15% 0 15%;
        
    }

    #home-left{
        width: 50%;
    }

    #home-right{
        width: 50%;
    }

    #home-right img{
        width: 100%;
    }

    .button{
        background-color: var(--red);
        border-bottom: 2px solid var(--dark-red);
        color: white;
        margin-top: 15px;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    .button:hover{
        background-color: var(--dark-red);
        color: var(--gold);
        border-bottom: 2px solid var(--gold);
    }

/* About */
    #bio{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 15px;
        gap: 30px;
    }

    #bio .left{
        min-width: 150px;
    }

    #bio img{
        border: 4px solid var(--light-grey);
        width: 100%;
        min-width: 150px;
        max-width: 200px;
    }

    #achievements{
        padding: 10px 0 10px 0;
    }

    #skills{
        padding: 10px 0 10px 0;
    }

/* Projects */

    #project1{
        padding: 15px 0 10px 0;
    }

    #project1 img{
        width: 45%;
    }

    #project1 figcaption{
        background-color: var(--light-grey);
        padding: 10px 0 10px 0;
        text-align: center;
        width: 90%;
    }

    #pictures{
        padding: 5px 0 15px 0;
    }

    #project2{
        padding: 15px 0 20px 0;
    }

    #documentary{       
        display: block;
        margin: auto;    /* center */
        padding-top: 15px;
    }

/* Contact */
    
    #contact-links{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 40px;
    }

    #contact a{
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 10px;
        text-decoration: none;
        width: 150px;
    }

    #contact img{
        display: inline-block;
        max-height: 35px;
        max-width: 30px;
    }