body{
    background-color: aliceblue;
}

.page{
    padding: 10px 5% 10px 5%;
    min-height: 63vh;   /* to keep footer at bottom of page */
}

h1{ /* title for each page */
    
}

a{
    color: rgb(76, 83, 161);
    text-decoration: none;
}

a:hover{
    color: rgba(76, 83, 161, 0.5);
}

hr{
    border: 0.75px solid rgba(0, 0, 0, 0.25);
}

/* Navigation */

    nav{
        background-color:rgba(0, 0, 0, 0.08);
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    nav h2{
        padding: 10px;
    }

    nav a{
        color: black;
        text-decoration: none;
        padding: 0 5% 0 5%;
    }

    nav a:hover{
        color: grey;
    }

    nav .highlighted{  /* link for current page */
        color: grey;
    }

/* Footer */

    footer{
        background-color: rgba(0, 0, 0, 0.08);
        font-size: 14px;
        margin-top: 20px;
        padding: 10px;
        text-align: center;
    }

/* Home */

/* About */
    #bio{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 30px;
    }

    #bio .left{
        min-width: 150px;
    }

    #bio img{
        border: 4px solid rgba(0, 0, 0, 0.20);
        width: 100%;
        min-width: 150px;
        max-width: 200px;
    }

    #achievements{
        
    }

    #skills{

    }

/* Projects */

    #project1 img{
        width: 45%;
    }

    #project1 figcaption{
        background-color: rgba(0, 0, 0, 0.08);  /* last value is opacity */
    }

    #project1 figure{

    }

    #documentary{       
        display: block;
        margin: auto;    /* center */
    }

/* Contact */

    #contact {

    }

    .contact-link{
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 10px;
        text-decoration: none;
        width: 150px;
    }

    .icon{
        display: inline-block;
        max-height: 35px;
        max-width: 30px;
    }